body{
    margin: 0;
}
.top-banner{
    background-image: url(images/donation99.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    size: 100%;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.top-banner h1{
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
}
.top-banner p{
    margin-top: -20px;
    margin-bottom: 70px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;   
}
a{
    color: white;
    background-color: tomato;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}
.help-us-sec{
    margin-top: 100px;
}
.help-us-text{

    text-align: center;
}
.help-us-text h2{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
}
.help-us-text p{
    margin-top: -20px;
    color: gray;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
.donate{
    display: flex;
    margin-left: 280px; 
}
.donate .same{
    margin-left: 20px;
    background-color: #F7F9F9;
    border-radius: 5px;
    padding: 40px 40px;
    color: #7B7D7D;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 600;

}
#red-tk{
    border: 3px solid tomato;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #FDEDEC;
    padding: 40px 40px;
    color: tomato;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 600;
}
.donate-now{
    margin-top: 40px;
}
.donate-now input{
    border: none;
    margin-left: 689px;
}
::placeholder{
    font-size: 17px;
}
hr{
    width: 800px;
    margin-bottom: 40px;
}
.donate-btn{
    margin-left: 676px;
}
.our-plan-sec{
    margin-top: 100px;
    width: 100%;
}
.our-plan-text{
    text-align: center;
}
.our-plan-text h2{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
}
.our-plan-text p{
    margin-top: -20px;
    color: gray;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
}
.plan-description{
    margin-top: 50px;
    display: flex;
    width: 80%;
    margin-left: 139px;
}
.donate-items {
    margin-left: 25px;
    padding: 50px 20px;
}
.first{
    background-color: #F4ECF7;
}
.second{
    background-color: #FDF2E9;
}
.third{
    background-color: #EBF5FB;
}
.donate-items h3{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 500;
}
.donate-items p{
    color: #7B7D7D;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
}
.helping-hand-sec{
    display: flex;
    width: 80%;
    margin-top: 100px;
    margin-left: 125px;
}
.helping-text{
    width: 50%;
    padding: 50px;
}
.helping-text h3{
    color: #F1C40F;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
.helping-text h2{
    margin-top: -15px;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 25px;
}
.helping-text  p{
    margin-top: -10px;
    color: #7B7D7D;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 300;
}
.production1{
    display: flex;
}
.production2{
    display: flex;
}
.first-production{
    margin-top: 30px;
    padding-right: 100px;
}
.second-production{
    margin-top: 30px;
    padding-right: 70px;
}
.first-production h2{
    font-family: 'Roboto Slab', serif;
}
.first-production p{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 500;
}
.second-production p{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 500;
}
.update-part{
    text-align: center;
    margin-top: 70px;
}
.update-part h2{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
}
.update-part p{
    margin-top: -20px;
    color: gray;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 150px;
}
.subscribe-part{
    padding: 100px 200px;
    background-color: #FDF2E9;
    display: inline;
    margin-left: 330px;
}
.subscribe-part input{
    border: none;
    background-color: #D7DBDD;
    border-radius: 5px;
    width: 250px;
    padding: 12px;
}
.subscribe-part button{
    color: white;
    background-color: tomato;
    margin-left: -4px;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 17px;
}
footer{
    text-align: center;
    margin-top: 200px;
    height: 200px;
    background-color: black;
}
footer h2{
    padding-top: 50px;
    color: tomato;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 30px;
}
footer p{
    margin-top: -10px;
    color: silver;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 300;
}